<h2>NYAMCO</h2>
<p>
  Welcome to nyamco project!
</p>
<p>
<%= link_to 'schedule_matching', '/schedule_matching/' %>
</p>
<p>
<%= link_to 'idle_times', '/idle_times/' %>
</p>
<p>
<%= link_to 'event_creating', '/event_creating/' %>
</p>
